.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  background: linear-gradient(60deg, #002cff, transparent);
}


.col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    color: #fff;
   padding: 130px;
   margin-top: 20px;
    background: linear-gradient(60deg, #002cff, transparent);
}

a {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(60deg, #002cff, transparent);
  font-size: 19px;
}